
  div.box {
    color: #fff;
    text-shadow: 100px;
    font-size: 50px;
    display: flex;
    width: 150%;
    height: 100%;
    align-items: center; /* 縦方向中央揃え */
    justify-content: center; /* 横方向中央揃え */
    position: relative;
    background: rgba(184, 108, 0, 0.668);
    z-index:20;
  }
  
  div.drop-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 100px;
    width: 100px;
    z-index:5;
    position: relative;
  }
  

  div.drop {
    position: absolute;
    top: -120%;
    width: 100%;
    height: 100%;
    border-radius: 100% 5% 80% 80%;
    transform: rotate(-45deg);
    margin: 0px;
    background: rgb(193, 113, 0);
    animation: drip 2s forwards;
  }

  
  @keyframes appear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  div.drop-container:before,
  div.drop-container:after {
    content: '';
    position: absolute;
    z-index: 8;
    top: 5%;
    right: 50%;
    /*波紋の向き*/
    transform: translate(50%) rotateX(7deg);
    border-radius: 100%;
    border: 5px solid rgb(234, 125, 0);
    animation: dripple 2s ease-out 1s;
  }
  
  div.drop-container:after {
    animation: dripple 2s ease-out 1.7s;
  }
  
  @keyframes drip {
    45% {
      top: 0;
      border-radius: 150% 5% 150% 180%;
      transform: rotate(-45deg);
    }
    100% {
      top: 0;
      transform: rotate(0deg);
      border-radius: 100%;
    }
  }
  
  @keyframes dripple {
    0% {
      width: 150px;
      height: 150px;
    }
    25% {
      opacity: 1;
    }
    100% {
      width: 500px;
      height: 500px;
      top: -20%;
      opacity: 0;
    }
  }